{%extends 'IG/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="w3.css">
<link href="https://fonts.googleapis.com/css?family=Cookie|Great+Vibes&display=swap" rel="stylesheet">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="w3-col m10">
                    
                    {%for img in image%}
                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        
                        <span class="w3-right w3-opacity"></span>
                        <h3 style="font-family: 'Cookie', cursive;">{{img.user.username}}</h3><br>
                        <hr class="w3-clear">
                       
                        <img src="{{img.image.url}}" style="width:90%" class="w3-margin-bottom">
                        <p style="font-family: 'Cookie', cursive;">{{img.Caption}}</p>
                        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                                class="fa fa-thumbs-up"></i> Like</button>
                        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                                class="fa fa-comment"></i> Comment</button>
                    </div>
                    {%endfor%}
                    <!-- End Middle Column -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Container -->
</div>
<br>
{%endblock%}