

    </form>
  </div>
    <div class="d-block">
        {% if user.is_authenticated %}
        <div >
            <a href="{%url 'profile' %}" class="d-block"><i class="glyphicon glyphicon-user" style="color:black;"></i></a>
          

        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" class="d-inline"><i class="glyphicon glyphicon-option-vertical" style="color:black;margin-top:10px;margin-right: 5px;"></i>
                      
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'home'%}">Home</a>
              </li>

                <li>
                    <a href="{%url 'profile' %}">Add Profile</a>
                  </li>
                  <li>
                      <a href="{%url 'edit_profile' %}">View Profile</a>
                    </li>
              <li>
                <a href="{%url 'new-post'%}">Add post</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
      </div>
    </div>
    </div>
    
  </div>
  
</nav>
</body>
</html>