{%extends 'IG/base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

<div class="row">
   <div class="col-sm-4 col-md-4">
   </div>
   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img style="width: 200px; height: 200px; border-radius:50%; margin-left: 100px" src="{{picture.photo.url}}"
         class="img-responsive" alt="Image">

   </div>
   <div class="col-sm-4 col-md-4">
      <h2>{{picture.bio}}</h2>
      <a href="{% url 'profile' %}">
         <button class="btn btn-dark" type="button" name="button"><img src="https://img.icons8.com/color/48/000000/pencil.png(1 kB)
           https://img.icons8.com/color/48/000000/pencil.png
           " width="24">Edit Profile</button>

      </a>
     <hr>
     
  </div>
   </div>
</div>
{% endblock %}